<config>

	<parent-provides>
		<service name="CPU"/>
		<service name="IO_MEM"/>
		<service name="IRQ"/>
		<service name="LOG"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="ROM"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="report_rom" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides>
			<service name="Report"/>
			<service name="ROM"/>
		</provides>
		<config verbose="no">
			<policy label="eth1 -> mac" report="eeprom -> eeprom_entry_1"/>
			<policy label="eth2 -> mac" report="eeprom -> eeprom_entry_2"/>
			<policy label="null" report="usb_host -> devices"/>
			<default-policy report="usb -> devices"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="platform" caps="150" managing_system="yes">
		<binary name="imx8mp_platform"/>
		<resource name="RAM" quantum="2M"/>
		<provides>
			<service name="Platform"/>
			<service name="Regulator"/>
		</provides>
		<config>
			<policy label="eth1 -> " info="yes"> <device name="stmmac"/> </policy>
			<policy label="eth2 -> " info="yes"> <device name="fec"/> </policy>
			<policy label="i2c -> "  info="yes"> <device name="i2c2"/> </policy>
			<policy label="pin -> "  info="yes"> <device name="gpio1"/> </policy>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="pin" caps="150">
		<binary name="imx_pio"/>
		<resource name="RAM" quantum="2M"/>
		<provides>
			<service name="IRQ"/>
			<service name="Pin_control"/>
			<service name="Pin_state"/>
		</provides>
		<config>
			<!-- deassert reset signal of STMMAC NICs Phy -->
			<out name="stmmac_phy_nreset" bank="0" index="10" default="on"/>
		</config>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="i2c" caps="150">
		<binary name="imx8q_evk_i2c"/>
		<resource name="RAM" quantum="2M"/>
		<provides>
			<service name="I2c"/>
		</provides>
		<config verbose="yes">
			 <policy label_prefix="eeprom" bus_address="0x50"/>
		</config>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="eeprom">
		<binary name="imx8mp_iot_gate_eeprom_reader"/>
		<resource name="RAM" quantum="10M"/>
		<route>
			<service name="I2c"> <child name="i2c"/> </service>
			<service name="Report"> <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="eth1" caps="200">
		<binary name="stmmac_nic"/>
		<resource name="RAM" quantum="15M"/>
		<config mac="02:00:00:00:00:01"/>
		<route>
			<service name="ROM" label="dtb"> <parent label="stmmac_nic-imx8mp_iot_gate.dtb"/> </service>
			<service name="ROM" label="mac"> <child name="report_rom"/> </service>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="eth2" caps="150">
		<binary name="fec_nic"/>
		<resource name="RAM" quantum="20M"/>
		<config mac="02:00:00:00:00:00"/>
		<route>
			<service name="ROM" label="nic.dtb"> <parent label="fec_nic-imx8mp_iot_gate.dtb"/> </service>
			<service name="ROM" label="mac"> <child name="report_rom"/> </service>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
