<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Nic">
		<default-policy> <child name="eth1"/> </default-policy> </service>

	<start name="report_rom" caps="100">
		<resource name="RAM" quantum="1M"/>
		<provides>
			<service name="Report"/>
			<service name="ROM"/>
		</provides>
		<config verbose="no">
			<policy label="null" report="usb_host_drv_1 -> devices"/>
			<policy label="null" report="usb_host_drv_2 -> devices"/>
			<default-policy report="usb_drv -> devices"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="platform_drv" caps="350" managing_system="yes">
		<binary name="imx8mm_platform_drv"/>
		<resource name="RAM" quantum="4M"/>
		<provides>
			<service name="Platform"/>
		</provides>
		<config devices_rom="config">

			<device name="fec" type="fsl,imx6sx-fec">
				<io_mem   address="0x30be0000" size="0x4000"/>
				<irq      number="152"/>
				<irq      number="151"/>
				<irq      number="150"/>
				<clock name="enet_axi_clk_root"/>
				<clock name="enet_timer_clk_root"/>
				<clock name="enet_ref_clk_root"/>
				<clock name="enet_phy_ref_clk_root"/>
				<clock name="enet1_gate"/>
				<property name="mii" value="rgmii-id"/>
			</device>

			<device name="usb_host2" type="fsl,imx7d-usb">
				<io_mem       address="0x32E50000" size="0x10000"/>
				<irq          number="73"/>
				<power-domain name="usb_otg_2"/>
				<clock        name="usb_phy_ref_clk_root"
				              driver_name="usb_phy_root_clk"
				              parent="system_pll1_div8"
				              rate="100000000"/>
				<clock        name="usb_core_ref_clk_root"
				              parent="system_pll1_div8"
				              rate="100000000"/>
				<clock        name="usb_bus_clk_root"
				              parent="system_pll2_div2"
				              rate="500000000"/>
				<clock        name="usb_ctrl1_gate"/>
				<property     name="compatible" value="fsl,imx7d-usb"/>
				<property     name="dr_mode"    value="host"/>
			</device>

			<policy label="eth1 -> " info="yes">
				<device name="fec"/>
			</policy>

			<policy label="usb_host_drv2 -> " info="yes">
				<device name="usb_host2"/>
			</policy>

		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="usb_host_drv2" caps="150">
		<binary name="imx8mm_iot_gate_usb_host_drv"/>
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Usb"/> </provides>
		<config>
			<report devices="yes"/>
			<policy label="eth2 -> " vendor_id="0x424" product_id="0xec00"/>
		</config>
		<route>
			<service name="Platform"> <child name="platform_drv"/> </service>
			<service name="Report">   <child name="report_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="eth1" caps="150">
		<binary name="fec_nic_drv"/>
		<resource name="RAM" quantum="17M"/>
		<config mac="02:00:00:00:00:00"/>
		<route>
			<service name="Platform"> <child name="platform_drv"/> </service>
			<service name="Uplink"> <parent/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="eth2" caps="200">
		<binary name="usb_net_drv"/>
		<resource name="RAM" quantum="20M"/>
		<config mac="02:00:00:00:00:01"/>
		<route>
			<service name="Uplink"> <child name="router"/> </service>
			<service name="Usb"> <parent label="nic"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
